html {
    background-image: linear-gradient(#FC5E55 ,#FA4083);
}
body{
    background-image: url(images/image-lion-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 1.125rem;
    margin-bottom: 100px;
}

a {
    color: white;
    text-decoration: none;
}

.container{
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

main{
    min-height: 300px;
    display: flex;
    align-items: center;
}

.main2 {
    min-height: 300px;
    padding-top: 50px;
}

.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1{
    background-image: url(images/image-background-card1.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.21);
}

.card2{
    background-image: url(images/image-background-card2.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.21);
}

.card3{
    background-image: url(images/image-background-card3.jpg);
    background-position: bottom;
    background-size: cover;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.21);
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}
.herobox2 {
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin: 10px;
}

.cards i {
    font-size: 100px;
}

.myButton {
    color: #FA4083;
    padding: 11px 25px;
    background-color: white;
    font-family: 'Playfair Display', serif;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.21);
}

.myButton:hover {
    background-color: rgb(66, 194, 66);
    transition: 1s;
}

a.myButton {
    display: inline-block;
    margin-top: 20px;
}

.navButton {
    border: 1px solid white;
    padding: 11px 25px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 50px;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
}

.navButton:hover .dropdown {
    display: block;
}

.dropdown .navButton {
    width: 120px;
    background-color: white;
}

.dropdown .navButton a {
    color: #FA4083;
}

.inputwrapper {
    margin-bottom: 30px;
}

input[type=text],input[type=email],textarea  {
    padding: 12px 20px;
    width: 100%;
    font-size: 0.85rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.newLine {
    display: block;
    margin-bottom: 10px;
}

.margin-right-a {
    margin-right: 20px;
}

input[type=radio] {
    margin-right: 10px;
}

form {
    margin: 40px 0px;
}